body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
}

.container {
    margin-top: 50px;
}

#metrics {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
